@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.Login {
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
}
.Card {
  width: 40vw;
  height: 40vh;
}

.Icon {
  height: 150px;
  margin-bottom: 16px;
}

@media screen and (max-width: 575px) {
  .Card {
    width: 90vw;
    height: auto;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .Card {
    width: 80vw;
    height: auto;
  }
}
