@import "../../styles/util.scss";

.Dashboard {
  height: 90vh;
  img {
    @include iconsDashboard;
  }
}

.Hover{
  @include iconsHover;
}

.Img {
  @include smallIcons;
}

.Back {
  float: left;
}

.Utils {
  float: right;
}

.PlusSign {
  @include smallIcons;
}

.Title {
  margin-top: 16px;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.ProjectTitle {
  cursor: pointer;
  @include hoverColor;
}

.StatCard {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  margin-bottom: 3rem;
}

.StyleTypeOpen {
  color: green;
  font-size: 20px;
  img {
    // &:hover {
    //   color: none;
    // }
    @include iconBug;
  }
}

.StyleTypeClosed {
  color: black;
  font-size: 20px;
}
.StyleTypeToDo {
  color: red;
  font-size: 20px;
}
.Icon {
  // width: 24px;
  // height: 24px;
}

.Dropdown {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.SortDropdown {
  margin-left: 3rem;
  width: 14vw;
}
.Bars {
  width: 200px;
}
