.MemberDetails{
    color: brown;
}

@import "../../styles/util.scss";

.BackIcon {
  @include icons;
}

.UserIcon {
  @include iconBug;
}

.CardContainer {
  @include centerCard;
}
.CardBody {
  margin: 0;
}

.Card {
  @include card(40vw, 30vh);
  label{
    margin-top: 1rem;
  }
}
.Input{
  // width: 80%;
  // margin-left: 10%;
  margin-bottom: 1rem;

}
.Form{
  margin-left: 10%;
  padding: 1px;
  width: 80%;
 
  
}