@import "../../styles/util.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.CreateProject {
  height: 90vh;
  font-family: "Lato", sans-serif;

  img {
    width: 42px;
    height: 42px;
    margin: 1rem;
  }
  .Image {
    @include icons;
  }

  .Card {
    @include card;
    box-shadow: $shadow;
    height: 40vh;
  }
  .Form {
    @include formGr;
    width: 40vw;
  }
  .FormGr {
    @include formGr;
  }
}

.FileIcon {
  @include iconBug;
}

.TitlePosition {
  @include formGr;
}
