@import "../../styles//util.scss";

.Projects {
  height: 90vh;
}
.CreateProjectTitle{
  cursor: pointer;
  &:hover {
    color: #ffa987;
  }
}

.Card {
  margin: 1rem;
  cursor: pointer;
  &:hover {
    color: #ffa987;
  }
}

.Btn {
  margin: 2rem;
}

.Subtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  img {
    width: 42px;
    height: 42px;
    margin: 1rem;
  }
}

.ProjectName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    width: 24px;
    height: 24px;
    margin: 1rem;
  }
  .ProjectText {
    margin-top: 10px;
    cursor: pointer;
    &:hover {
      color: #ffa987;
    }
  }
}

.ProjectTextAlignment {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.ProjectYourPartOfTextAlignment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 8.5rem;
}

.ProjectTextAlignmentSub1 {
  margin-right: 7rem;
}

.PlusSign {
  @include icons;
}

.Message{
  display: none;
}

@media screen and (max-width: 575px) {
  .Projects {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  
}

@media screen and (min-width: 576px) and (max-width: 768px) {

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}
