@import '../../styles/util.scss';
.BackIcon{
    @include icons;
}

.InfoIcon{
   @include iconBug;
}
.CardContainer{
    @include centerCard(1vh);
}
.Card{
   @include card(42vw,68vh);
   padding: 1rem;
}

.Input{
   
    width:80%;
}

.Btn{
   @include centerCard(1vh);
   margin: 1rem;
}


