.Pic {
  height: 32px;
  width: 32px;
  margin-left: 58vw;
  margin-right: 1rem;
  margin-top: 4px;
  
}
.LogOutBtn {
  margin-left: 8px;
}

.LoggedAs {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
  align-items: center;
}

.Links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.LogoutBtn{
  margin-left: 1rem;
  margin-right: 1rem;
}



