@import "../../styles/util.scss";

.SetTeamUserRole {
  color: black;
}

.Title {
  margin-top: 1rem;
}

.Card {
  @include card;
  box-shadow: $shadow;
  height: 50vh
}

.MemberName{
  color: blue;
  text-decoration: blue;
  cursor: pointer;
  &:hover{
    color: deepskyblue;
  }

 
  
}
